.h1
{
    color: white;
}
span
{
    color: white;
}
.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: red;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
}
body
{
    background-color: lightskyblue;
}